@{
    ViewBag.Title = "Home Page";
}
<div>&nbsp;</div>
<div class="jumbotron">
    <h1>A list of customers...</h1>
</div>

<div class="row">
    <div class="col-md-12">
        blash
    </div>
    <div class="col-md-12">
        blash
    </div>
</div>